<% if current_user.id == message.user_id then status = "sent" else status = "received" end %>

  <div class="message <%= status %>" data-message-id="<%= message.id %>">

  <p><%=  message.content %></p>

</div>
